.Bd {
  border-width: 1px;
  border-style: solid;
}
.Bg\(\#00000088\) {
  background: #000000;
}
.Bgc\(\$gray-600\) {
  background-color: #6c757d;
}
.Bgz\(cv\) {
  background-size: cover;
}
.Bgp\(c\) {
  background-position: center;
}
.C\(\$gray-500\) {
  color: #adb5bd;
}
.C\(\$pink\) {
  color: #e83e8c;
}
.C\(\$red\) {
  color: #dc3545;
}
.Lh\(18px\) {
  line-height: 18px;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mt\(100px\) {
  margin-top: 100px;
}
.Maw\(500px\) {
  max-width: 500px;
}
.W\(100\%\) {
  width: 100%;
}
.Cf:before, .Cf:after {
  content: " ";
  display: table;
}
.Cf:after {
  clear: both;
}
.Cf {
  zoom: 1;
}
