.Bd {
  border-width: 1px;
  border-style: solid;
}
.Bdsp\(0\,\.25em\) {
  border-spacing: 0 .25em;
}
.Bgc\(\$gray-200\) {
  background-color: #e9ecef;
}
.Bgc\(\$gray-600\) {
  background-color: #6c757d;
}
.Bgc\(\$gray-100\) {
  background-color: #f8f9fa;
}
.Bgc\(\$gray-700\) {
  background-color: #495057;
}
.Bgc\(\$gray-800\) {
  background-color: #343a40;
}
.Bgc\(\$gray-900\) {
  background-color: #212529;
}
.Bgc\(\$purple\) {
  background-color: #6f42c1;
}
.Bgc\(\$gray-600\)\:h:hover {
  background-color: #6c757d;
}
.Bgz\(cv\) {
  background-size: cover;
}
.Bgp\(c\) {
  background-position: center;
}
.Bdcl\(s\) {
  border-collapse: separate;
}
.C\(\$gray-500\) {
  color: #adb5bd;
}
.C\(\$pink\) {
  color: #e83e8c;
}
.C\(\$red\) {
  color: #dc3545;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(ib\), .Row {
  display: inline-block;
}
.Fz\(1em\) {
  font-size: 1em;
}
.H\(120px\) {
  height: 120px;
}
.H\(1em\) {
  height: 1em;
}
.H\(60px\) {
  height: 60px;
}
.H\(180px\) {
  height: 180px;
}
.Lh\(1\.15\) {
  line-height: 1.15;
}
.Lh\(18px\) {
  line-height: 18px;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mt\(100px\) {
  margin-top: 100px;
}
.Mt\(2px\) {
  margin-top: 2px;
}
.Mt\(40px\) {
  margin-top: 40px;
}
.Maw\(500px\) {
  max-width: 500px;
}
.T\(0\) {
  top: 0;
}
.End\(0\) {
  right: 0;
}
.B\(0\) {
  bottom: 0;
}
.Start\(0\) {
  left: 0;
}
.P\(30px\) {
  padding: 30px;
}
.Px\(1\.25em\) {
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.Px\(50px\) {
  padding-left: 50px;
  padding-right: 50px;
}
.Py\(100px\) {
  padding-top: 100px;
}
.Py\(100px\), .Pb\(100px\) {
  padding-bottom: 100px;
}
.W\(100\%\), .Row {
  width: 100%;
}
.Cf:before, .Cf:after {
  content: " ";
  display: table;
}
.Cf:after {
  clear: both;
}
.Cf, .Row {
  zoom: 1;
}
.Row {
  clear: both;
  vertical-align: top;
  box-sizing: border-box;
  *display: block;
  *width: auto;
}
